.card__info {
  margin: 15px 0px;
  font-size: 16px;
}

.cards-row1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  margin-bottom: -24px;
}

.card-col1 {
  display: block;
  width: 33.3%;
  padding-right: 20px;
  padding-bottom: 24px;
}

.card1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 640px;
  height: 100%;
  padding: 32px 32px 42px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #0d0d0d;

  background-position: 0% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  color: #fff;
}

/* .card1:hover {
  background-size: 120%;
} */

.card1._1 {
  background-image: url("./../img/pic-1.svg");
}

.card1._2 {
  background-image: url("./../img/pic-2.svg");
}

.card1._3 {
  background-image: url("./../img/pic-3.svg");
}

.card1._4 {
  background-image: url("./../img/pic-4.svg");
}

.card__row {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card__heading {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card__title {
  max-width: 205px;
  font-family: Euclidcirculara, sans-serif;
  font-size: 35px;
  line-height: 42px;
  font-weight: 500;
}

.card__title.ln {
  display: inline;
  max-width: 205px;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

@media screen and (max-width: 1280px) and (min-width: 992px) {
  .card__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width: 1200px) {
  .card1 {
    padding: 12px 32px 2px;
  }
  .card1._1,
  .card1._3,
  .card1._2,
  .card1._4 {
    background-image: none;
  }

  .cards-row1 {
    margin-bottom: -24px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card-col1 {
    width: 45%;
  }
}

@media screen and (max-width: 991px) {
  .card1 {
    height: 503px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    background-size: 70%;
  }

  .card__title {
    max-width: 155px;
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .card-col1 {
    width: 100%;
  }
  .card1 {
    max-height: 503px;
    height: auto;
    padding-top: 10px;
  }
}
