@media screen and (max-width: 991px) {
  body {
    font-size: 15px;
    line-height: 21px;
  }



  h2 {
    font-size: 35px;
    line-height: 42px;
  }

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }



  .section.main4s {
    padding-bottom: 62px;
  }

  .container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .nav-link {
    display: block;
    margin-right: 34px;
    margin-bottom: 18px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }



  .main-img-1 {
    padding-top: 30px;
  }

  .lines-bg {
    padding-right: 0px;
    padding-left: 40px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .line-bg {
    margin-right: 15.6%;
  }

  .line-bg.m1 {
    display: none;
  }

  .col1.hd {
    padding-right: 70px;
  }

  .par1 {
    font-size: 20px;
    line-height: 28px;
  }

  .row2 {
    display: block;
    margin-top: 40px;
    margin-bottom: 3px;
  }

  .col2 {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 21px;
  }

  .main-text-1 {
    margin-top: 3px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 15px;
    line-height: 18px;
  }

  .row3 {
    margin-top: 120px;
    margin-bottom: -40px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .text-3 {
    margin-bottom: 8px;
  }

  .num-3 {
    font-size: 80px;
    line-height: 96px;
  }

  .subtitle {
    margin-bottom: 40px;
  }

  .cards-row1 {
    margin-bottom: -24px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .card1 {
    height: 503px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    background-size: 70%;
  }

  .card__title {
    max-width: 155px;
    font-size: 28px;
    line-height: 34px;
  }

  .gray-bg {
    height: 236px;
  }

  .row4 {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .col4 {
    padding-bottom: 0px;
  }

  .col4-img {
    width: 274px;
    height: 274px;
    margin-top: 24px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background-size: contain;
  }
  .icon {
    width: 16px;
    height: 16px;
  }
  .main-icon-1-div {
    margin-right: 14px;
  }

  .image-scroller {
    overflow: visible;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

}
