@media screen and (max-width: 767px) {
    .section.main-1s {
      overflow: visible;
      padding-top: 118px;
      padding-bottom: 0px;
    }

    .section.main-1s.prod {
      max-height: none;
      min-height: auto;
      padding-top: 10vh;
      padding-bottom: 80px;
    }

    .section.main-1s.prod.vc {
      padding-bottom: 187px;
    }

    .section.main-1s.prod.dw {
      padding-top: 118px;
    }

    .section.main-1s.un {
      overflow: hidden;
    }

    .section.main-1s.contact {
      padding-bottom: 80px;
    }

    .section.main-1s.hor {
      height: auto;
      max-height: none;
      min-height: 100vh;
      padding-top: 13vh;
    }

    .section.main-4s {
      padding-top: 90px;
    }

    .section.main4s {
      padding-top: 64px;
      padding-bottom: 0px;
    }

    .section.about-2s {
      padding-top: 64px;
      padding-bottom: 40px;
    }

    .section.about-3s {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    .section.about-4s {
      padding-bottom: 80px;
    }

    .section.post-1s {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .section.vc2 {
      padding-bottom: 0px;
    }

    .section.st-1s {
      overflow: visible;
      padding-top: 140px;
      padding-bottom: 80px;
    }

    .section.st-1s.prod {
      max-height: none;
      min-height: auto;
      padding-top: 10vh;
      padding-bottom: 80px;
    }

    .section.st-1s.prod.vc {
      padding-bottom: 187px;
    }

    .section.st-1s.un {
      overflow: hidden;
    }

    .section.st-1s.contact {
      padding-bottom: 80px;
    }

    .section.st-1s.hor {
      height: auto;
      max-height: none;
      min-height: 100vh;
      padding-top: 13vh;
    }

    .section.st-7s {
      padding-top: 38vw;
    }

    .section.snb-1s {
      overflow: visible;
      padding-top: 140px;
      padding-bottom: 104px;
      background-size: 220px;
    }

    .section.snb-1s.prod {
      max-height: none;
      min-height: auto;
      padding-top: 10vh;
      padding-bottom: 80px;
    }

    .section.snb-1s.prod.vc {
      padding-bottom: 187px;
    }

    .section.snb-1s.un {
      overflow: hidden;
    }

    .section.snb-1s.contact {
      padding-bottom: 80px;
    }

    .section.snb-1s.hor {
      height: auto;
      max-height: none;
      min-height: 100vh;
      padding-top: 13vh;
    }

    .section.snb-2s {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .container {
      padding-right: 20px;
      padding-left: 20px;
    }

    .container.hor {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: visible;
      padding-right: 0px;
      padding-left: 0px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
    }

    .container._1086 {
      padding-right: 0px;
      padding-left: 0px;
    }

    .dropdown-link {
      margin-bottom: 2vh;
    }

    .dropdown-link.pagetransition {
      font-size: 15px;
      line-height: 18px;
    }

    .nav-menu {
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }

    .nav-link._2 {
      font-size: 15px;
      line-height: 18px;
    }

    .mob-menu-head-row {
      margin-bottom: 8vh;
    }

    .logo-link {
      padding-left: 0px;
    }

    .mob-menu-col {
      padding-bottom: 4vh;
    }

    .login-btn {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }

    .w720 {
      max-width: 520px;
      padding-top: 10%;
      padding-right: 20px;
      padding-left: 20px;
    }

    .h1.w753 {
      margin-bottom: 120px;
    }

    .h1.w638 {
      margin-bottom: 100px;
    }

    .h1.st {
      max-width: 490px;
      font-size: 34px;
      line-height: 48px;
    }

    .main-img-1 {
      overflow: scroll;
      width: 100%;
      max-width: none;
      margin-right: 20px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .lines-bg {
      padding-left: 20px;
    }

    .lines-bg._994 {
      padding-right: 15px;
      padding-left: 15px;
    }

    .line-bg {
      margin-right: 33.3%;
    }

    .line-bg.m2 {
      display: none;
    }

    .line-bg.st.dots.m2 {
      display: none;
    }

    .row1 {
      display: block;
    }

    .row1.v2 {
      display: block;
    }

    .col1 {
      width: 100%;
    }

    .col1.hd {
      width: 100%;
      padding-right: 0px;
      padding-bottom: 32px;
    }

    .col1.hd.pr20.v2 {
      width: 100%;
    }

    .col1.v2 {
      width: 100%;
    }

    .col1.vc {
      width: 100%;
      padding-top: 48px;
      padding-right: 0px;
    }

    .row3 {
      margin-top: 100px;
    }

    .col3._3 {
      width: 100%;
      padding-right: 0px;
    }

    .h2.white.w594 {
      margin-bottom: 64px;
    }

    .h2.fs {
      margin-bottom: 64px;
    }

    .subtitle.mb80 {
      margin-bottom: 80px;
    }

    .subtitle.w594 {
      margin-bottom: 60px;
    }

    .card-col1 {
      width: 100%;
    }

    .card-col1.vc {
      width: 50%;
    }

    .card1 {
      max-width: 335px;
    }

    .card1.prod {
      height: auto;
    }

    .card1.vc-card {
      height: 450px;
    }

    .gray-bg.white {
      height: 120px;
    }

    .investors-row {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .investors-img {
      display: none;
    }

    .investors-list {
      margin-top: 36px;
    }

    .investors-list._2 {
      margin-top: 0px;
      margin-bottom: -20px;
      padding-top: 38px;
    }

    .investors-list.hf {
      max-width: 500px;
      margin-top: 84px;
      margin-right: 0px;
      padding-left: 0%;
    }

    .inv-logo-col {
      padding-bottom: 60px;
    }

    .inv-logo-col._2 {
      padding-bottom: 40px;
    }

    .inv-logo-col.hf {
      padding-bottom: 40px;
    }

    .row4 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }

    .col4 {
      display: block;
      margin-bottom: 60px;
    }

    .col4-img {
      width: 303px;
      height: 211px;
      max-width: 100%;
      margin-left: 0px;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      background-size: 100%;
    }

    .ft-link {
      font-size: 15px;
      line-height: 18px;
    }

    .hor_scr_cont {
      position: relative;
      bottom: 0px;
      overflow: hidden;
      width: 100vw;
    }

    .spv-row1 {
      display: block;
      max-height: none;
      padding-top: 10%;
    }

    .spv-row1.vc {
      padding-top: 32px;
    }

    .spv-row1.dc {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 32px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }

    .spv-col1 {
      margin-top: auto;
      margin-right: 0px;
    }

    .spv-col1._2 {
      margin-right: 0%;
    }

    .spv-col1._4 {
      margin-top: auto;
      margin-right: 0%;
    }

    .spv-col1.vc {
      min-height: 0px;
      padding-top: 0px;
    }

    .spv-col1.fs {
      min-height: 0px;
      padding-top: 0px;
    }

    .prod-img {
      display: inline-block;
      max-width: 100%;
      margin-top: 64px;
    }

    .prod-img.vf {
      margin-top: 64px;
    }

    .prod-img.about {
      max-width: 100%;
      margin-top: 20px;
    }

    .prod-img.dc {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 46px;
    }

    .subtitle-prod.vc {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    .subtitle-prod.fs {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    .subtitle-prod.dc {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    .steps-block {
      margin-top: 42px;
      margin-bottom: -12px;
    }

    .accordion-block {
      position: static;
      top: 32px;
    }

    .white-line._2.m1.vc {
      display: none;
    }

    .white-line.m2.vc {
      display: block;
    }

    .accordion-row {
      display: block;
    }

    .accordion-col._1 {
      display: none;
    }

    .accordion-col._1.ac {
      display: none;
    }

    .accordion-dd-text-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }

    .accordion-dd-text {
      padding-bottom: 40px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
    }

    .w485 {
      max-width: 100%;
      padding-bottom: 50px;
    }

    .table {
      margin-bottom: -62px;
    }

    .table.vc {
      margin-top: 40px;
      margin-bottom: -54px;
    }

    .table-row {
      padding-bottom: 52px;
    }

    .table-row._1.vc {
      display: none;
    }

    .table-row.center.vc {
      margin-right: 0px;
      padding-bottom: 54px;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      line-height: 120%;
    }

    .table-col._2.vc {
      width: 100%;
    }

    .table-col.hd.vc {
      padding-top: 0px;
    }

    .table-heading.mob.vc {
      display: block;
      width: 54%;
      font-size: 15px;
      line-height: 180%;
    }

    .table-text.vc {
      max-width: 100%;
      font-size: 15px;
      font-weight: 500;
    }

    .faq-text-block {
      width: 100%;
      padding-right: 0px;
    }

    .acc-mob-img {
      display: block;
    }

    .mob-img-div {
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    .hf-img {
      display: none;
    }

    .team-col {
      width: 33.3%;
    }

    .team-photo {
      height: 57vw;
    }

    .about-row2 {
      display: block;
      margin-right: 0px;
    }

    .about-col2 {
      width: 100%;
      padding-right: 0px;
    }

    .about-col2.mt50px {
      width: 100%;
      padding-top: 0px;
    }

    .about-row3 {
      margin-right: -10px;
      margin-bottom: -10px;
    }

    .contact-row {
      display: block;
    }

    .contact-col {
      width: 100%;
    }

    .contact-container {
      width: auto;
      padding-right: 20px;
      padding-left: 20px;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
    }

    .map {
      position: static;
      height: 400px;
    }

    .post-main-row {
      display: block;
      min-height: 0px;
    }

    .post-main-img {
      width: 100%;
      margin-top: 24px;
      margin-left: 0px;
      padding-top: 93%;
    }

    .h2-post {
      font-size: 28px;
      line-height: 34px;
    }

    .rich-text-block {
      margin-bottom: 60px;
    }

    .similar-posts-list {
      margin-right: 0px;
    }

    .similar-posts-li {
      width: 100%;
      padding-right: 0px;
    }

    .v_col {
      min-height: 212px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
    }

    .un-menu-container {
      margin-right: -20px;
      margin-bottom: -20px;
      margin-left: -20px;
      padding-bottom: 40px;
      padding-left: 20px;
    }

    .ct-logos-row {
      display: none;
    }

    .v_col-2 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
    }

    .mobile-menu {
      padding-right: 20px;
      padding-bottom: 80px;
      padding-left: 20px;
    }

    .post-img {
      padding-top: 100%;
    }

    .fullwidth-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .post-card-col {
      min-height: 413px;
      margin-top: 24px;
      margin-left: 0px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
    }

    .post-img-col {
      width: 100%;
      padding-right: 0px;
    }

    .card-description {
      min-height: 108px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 auto;
      -ms-flex: 0 auto;
      flex: 0 auto;
    }

    .line-main {
      overflow: scroll;
    }

    .image-scroller {
      overflow: scroll;
      padding-right: 20px;
      padding-left: 20px;
    }

    .image-container {
      position: relative;
      width: 150vw;
    }

    .collection-item {
      width: 50%;
    }

    .collection-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .vc-img-1.m {
      width: 100%;
      max-width: 100%;
      margin-top: 0px;
    }

    .vc-img-2 {
      width: 100vw;
      max-width: 100vw;
      margin-top: 64px;
      margin-left: -20px;
    }

    .vc-graph {
      margin-bottom: 16px;
    }

    .text-block-3 {
      padding-bottom: 40px;
    }

    .v-row1 {
      display: block;
    }

    .v-col1 {
      width: 100%;
    }

    .v-col1.vc3 {
      display: none;
    }

    .s4_about_bg_img {
      display: none;
    }

    .st-row1 {
      display: block;
    }

    .st-col1._1 {
      width: 241px;
      padding-right: 0px;
      padding-bottom: 40px;
    }

    .par-19 {
      font-size: 16px;
      line-height: 32px;
    }

    .par-19.h35._2 blockquote {
      font-size: 20px;
      line-height: 32px;
    }

    .st-bg-text {
      left: 50.4vw;
      top: -6.7vw;
      font-size: 17vw;
    }

    .st-bg-text._2 {
      left: -3vw;
      right: auto;
    }

    .par-28 {
      font-size: 20px;
      line-height: 32px;
    }

    .st-block1 {
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 0px;
    }

    .par-35 {
      font-size: 28px;
      line-height: 36px;
    }

    .st-row2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }

    .st-col2._2 {
      margin-left: 0px;
      padding-top: 0px;
      padding-bottom: 40px;
    }

    .enb-line {
      display: none;
    }

    .enb-col {
      padding-right: 0px;
      padding-left: 0px;
    }

    .story-card-title {
      font-size: 28px;
      line-height: 36px;
    }

    .orange-button {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .st-h1 {
      max-width: 490px;
    }

    .st-h1 h1 {
      font-size: 34px;
      line-height: 48px;
    }

    .text2.par-19 blockquote {
      font-size: 20px;
      line-height: 32px;
    }

    .fsimg1 {
      max-width: 100%;
      margin-top: 10px;
    }

    .fsimg1.m {
      width: 100%;
      max-width: 100%;
      margin-top: 0px;
    }

    .fs-img2-cont {
      margin-top: 64px;
      margin-right: -20px;
      margin-left: -20px;
      padding: 40px 20px;
    }

    .dc-img1 {
      max-width: 100%;
    }

    .dc-img1.m {
      width: 100%;
      max-width: 100%;
      margin-top: 0px;
    }

    .deals-col {
      width: 100%;
    }

    .enab-card {
      min-height: 340px;
      padding: 24px;
    }

    .enab-title {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 32px;
    }

    .lb-box {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-right: 20px;
      padding-left: 20px;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
      border-style: none;
      border-radius: 0px;
    }
  }
